<a href="https://colab.research.google.com/github/Mubarakhussain1/User-Based-Recommendation-For-Amazon/blob/main/User_recommandation_model_for_Amazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#***Recommandation Engine For Amazon***

![](https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/686013/retina_1708x683_cover-0102-PredictingLikes-Waldek_cover-e8956144f8adc4f6f1c9dcda465b0619-291312f55d7333df6b034846e72f7f6e.png)

In [3]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df=pd.read_csv('/content/1655387347_amazonmoviesandtvratings_3.zip')

###Exploratory Data Analysis

In [5]:
df.head(10)

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AP57WZ2X4G0AA,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,A3NMBJ2LCRCATT,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,A5Y15SAOMX6XA,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,A3P671HJ32TCSF,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,A3VCKTRD24BG7K,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.describe().T

          count      mean       std  min   25%  50%  75%  max
Movie1      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie2      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie3      1.0  2.000000       NaN  2.0  2.00  2.0  2.0  2.0
Movie4      2.0  5.000000  0.000000  5.0  5.00  5.0  5.0  5.0
Movie5     29.0  4.103448  1.496301  1.0  4.00  5.0  5.0  5.0
...         ...       ...       ...  ...   ...  ...  ...  ...
Movie202    6.0  4.333333  1.632993  1.0  5.00  5.0  5.0  5.0
Movie203    1.0  3.000000       NaN  3.0  3.00  3.0  3.0  3.0
Movie204    8.0  4.375000  1.407886  1.0  4.75  5.0  5.0  5.0
Movie205   35.0  4.628571  0.910259  1.0  5.00  5.0  5.0  5.0
Movie206   13.0  4.923077  0.277350  4.0  5.00  5.0  5.0  5.0

[206 rows x 8 columns]

In [7]:
df.columns

Index(['user_id', 'Movie1', 'Movie2', 'Movie3', 'Movie4', 'Movie5', 'Movie6',
       'Movie7', 'Movie8', 'Movie9',
       ...
       'Movie197', 'Movie198', 'Movie199', 'Movie200', 'Movie201', 'Movie202',
       'Movie203', 'Movie204', 'Movie205', 'Movie206'],
      dtype='object', length=207)

In [8]:
df.shape

(4848, 207)

###Task 1 - Which movies have maximum views/ratings?

In [9]:
df.describe().T['count'].sort_values(ascending=False)[:1].to_frame()

           count
Movie127  2313.0

In [10]:
df.drop('user_id',axis=1).sum().sort_values(ascending=False)[:1].to_frame()

               0
Movie127  9511.0

###Task 2 - What is the average rating for each movie? Define the top 5 movies with the maximum ratings

In [11]:
df.describe().T['mean'].sort_values(ascending=False)[:5].to_frame()

         mean
Movie1    5.0
Movie66   5.0
Movie76   5.0
Movie75   5.0
Movie74   5.0

###Task 3 - Define the top 5 movies with the least audience

In [12]:
df.describe().T['count'].sort_values(ascending=True)[:5]

Movie1      1.0
Movie71     1.0
Movie145    1.0
Movie69     1.0
Movie68     1.0
Name: count, dtype: float64

###Task 4 - Recommendation Model

In [13]:
!pip install scikit-surprise
from surprise import Reader
from surprise import accuracy
from surprise import Dataset
from surprise.model_selection import train_test_split
from surprise import SVD
from surprise.model_selection import cross_validate

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 kB 14.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.10.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp310-cp310-linux_x86_64.whl size=3095442 sha256=495fb13eb145ed3e02715fe039ab67422a29d53a49cc39fc07bf3298535bcde7
  Stored in directory: /root/.cache/pip/wheels/a5/ca/a8/4e28def53797fdc4363ca4af740db15a9c2f1595ebc51fb445
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

In [14]:
df_melt=df.melt(id_vars=df.columns[0], value_vars = df.columns[1:], var_name ='movies', value_name = "rating")

In [15]:
df_melt

               user_id    movies  rating
0       A3R5OBKS7OM2IR    Movie1     5.0
1        AH3QC2PC1VTGP    Movie1     NaN
2       A3LKP6WPMP9UKX    Movie1     NaN
3        AVIY68KEPQ5ZD    Movie1     NaN
4       A1CV1WROP5KTTW    Movie1     NaN
...                ...       ...     ...
998683  A1IMQ9WMFYKWH5  Movie206     5.0
998684  A1KLIKPUF5E88I  Movie206     5.0
998685   A5HG6WFZLO10D  Movie206     5.0
998686  A3UU690TWXCG1X  Movie206     5.0
998687   AI4J762YI6S06  Movie206     5.0

[998688 rows x 3 columns]

In [16]:
rd=Reader()

In [17]:
data=Dataset.load_from_df(df_melt.fillna(0),reader=rd)

In [18]:
data

In [19]:
trainset, testset = train_test_split(data,test_size=0.25)

In [20]:
#Using SVD (Singular Value Descomposition)
svd = SVD()
svd.fit(trainset)

In [21]:
pred = svd.test(testset)

In [22]:
accuracy.rmse(pred)

RMSE: 1.0264

1.0264183161741713

In [23]:
accuracy.mae(pred)

MAE:  1.0122

1.0122400792840938

In [24]:
cross_validate(svd, data, measures = ['RMSE', 'MAE'], cv = 3, verbose = True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.0257  1.0261  1.0265  1.0261  0.0003
MAE (testset)     1.0119  1.0120  1.0122  1.0120  0.0001
Fit time          11.72   11.74   11.41   11.62   0.15
Test time         4.09    3.64    3.25    3.66    0.34

{'test_rmse': array([1.02571093, 1.02612508, 1.02647435]),
 'test_mae': array([1.01189088, 1.01196645, 1.01217092]),
 'fit_time': (11.716798067092896, 11.741523504257202, 11.412463188171387),
 'test_time': (4.088388681411743, 3.640901565551758, 3.2480921745300293)}

In [25]:
def repeat(ml_type,dframe):
  rd = Reader()
  data = Dataset.load_from_df(dframe,reader=rd)
  print(cross_validate(ml_type, data, measures = ['RMSE', 'MAE'], cv = 3, verbose = True))
  print("--"*15)
  usr_id = 'A3R5OBKS7OM2IR'
  mv = 'Movie1'
  r_u = 5.0
  print(ml_type.predict(usr_id,mv,r_ui = r_u,verbose=True))
  print("--"*15)

In [27]:
repeat(SVD(),df_melt.fillna(df_melt['rating'].mean()))

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.0815  0.0875  0.0890  0.0860  0.0032
MAE (testset)     0.0096  0.0098  0.0099  0.0098  0.0001
Fit time          11.11   11.31   10.77   11.06   0.22
Test time         3.52    3.69    4.43    3.88    0.39
{'test_rmse': array([0.08151765, 0.08748492, 0.08903496]), 'test_mae': array([0.00961347, 0.00982881, 0.00992404]), 'fit_time': (11.106648683547974, 11.3053457736969, 10.771707534790039), 'test_time': (3.522235870361328, 3.692620277404785, 4.425513029098511)}
------------------------------
user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 4.39   {'was_impossible': False}
user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 4.39   {'was_impossible': False}
------------------------------

In [28]:
#trying grid search and find optimum hyperparameter value for n_factors
from surprise.model_selection import GridSearchCV

In [29]:
param_grid = {'n_epochs':[20,30],
'lr_all':[0.005,0.001],
'n_factors':[50,100]}

In [30]:
gs = GridSearchCV(SVD,param_grid,measures=['rmse','mae'],cv=3)
data1 = Dataset.load_from_df(df_melt.fillna(df_melt['rating'].mean()),reader=rd)

In [31]:
gs.fit(data1)

In [32]:
gs.best_score

{'rmse': 0.08477681692946548, 'mae': 0.009062622099936558}

In [ ]:
print(gs.best_score["rmse"])
print(gs.best_params["rmse"])